<div class='jumbotron bg-dark d-flex justify-content-left flex-column'>
    <h1 class='text-light'>Sign Up</h1>
    <div class='form-inline'>
        <%= form_for @user do |f|%>
        <p class='text-light'>Username</p>
        <%= f.text_field :username%><br>
        <p class='text-light'>Password</p>
        <%= f.password_field :password%>

        <%= f.submit :class => " btn btn-outline-info text-white" %>

        <%end%>
    </div>
</div>